.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 40px 0 0;
    
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: fit-content;
        padding-top: 100px;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: fit-content;
            
            h2 {
                color: #FFFFF0;
            }


            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 10px;

                .input {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    input {
                        width: 400px;
                        height: 50px;
                        border-radius: 9px;
                        border: none;
                        padding: 10px;
                        background-color: #353535;
                    }
                    
                    .validator {
                        display: none;
                        color: #ff0000;
                    }
                }
                .button {
                    width: 250px;
                    height: 40px;
                    background-color: #36CE7C;
                    border: none;
                    border-radius: 9px;
                }
            }
        }
    }

    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        overflow-y: scroll;

        .cardContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: fit-content;
            gap: 10px;
        }

        .listName {
            margin: 40px 0 40px;
        }
    }

}